name: Verificar Senha

on:
  repository_dispatch:
    types: [verificar-senha]

jobs:
  verificar-senha:
    runs-on: ubuntu-latest
    steps:
      - name: Verificar senha
        run: |
          SENHAS='${{ secrets.SENHAS }}'
          SENHA_INPUT='${{ github.event.client_payload.senha }}'
          
          USUARIO_INFO=$(echo "$SENHAS" | jq -r --arg senha "$SENHA_INPUT" '.[$senha] // "null"')
          
          if [ "$USUARIO_INFO" != "null" ]; then
            echo "USUARIO_VALIDO: $USUARIO_INFO"
          else
            echo "SENHA_INVALIDA"
          fi
